<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952814716125-t27f2dq0quffba0cu9kvaadugi6ltt4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952814716125-t27f2dq0quffba0cu9kvaadugi6ltt4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAgp-liTRsKOWHt72NeiQnmqvTkU5SoKOc</string>
	<key>GCM_SENDER_ID</key>
	<string>952814716125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aurobo</string>
	<key>PROJECT_ID</key>
	<string>aurobo-462d7</string>
	<key>STORAGE_BUCKET</key>
	<string>aurobo-462d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952814716125:ios:575c8528ee0fc0526a4734</string>
</dict>
</plist>